/*font-family: 'Merriweather', serif;*/
/*font-family: 'Oswald', sans-serif;*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Merriweather', serif;
    font-size: 18px;
}
h2{
    text-align: center;
}
.hero{
    background: url(assets/imgs/hero-cover.jpg);
    background-size: cover;
/*    background-repeat: no-repeat;*/
    background-position: center;
    margin-top: 70px;
/*    padding: 150px 15px;*/
    width: 100vw;
    height: 100vh;
}
.herojumbo{
    background: linear-gradient(180deg, rgba(47,117,176,1), rgba(252,176,69,.75));
/*    align-content: center;*/
}
nav img{
    height: 45px;
}
#about-us{
    background: linear-gradient(90deg, rgba(74,74,74,1), rgba(177,177,177,.5)), url(assets/imgs/table-texture.jpg);
/*    background-attachment: fixed;*/
    background-size: 100% 125px;
    background-attachment: fixed;
    color: white;
    padding: 100px;
    
}
.carousel {
    width: 60%;
    margin: 0 auto;
}
#menu{
    padding: 20px;
/*    background-color: bisque;*/
    background-color: #EFA980;
}
.btn{
    text-transform: uppercase;
    margin: 5px;
/*    background-color: aquamarine;*/
}
#footer{
    text-align: center;
    background-color: #F3EBE6;
    padding: 1px;
}
li{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
#contact{
    background-color: #CBE4F6;
    padding:20px;
}
a:hover{
    color: blue;
}
nav .navbar-nav li a{
    color: black;
}
nav .navbar-nav li a:hover{
  color: #F58300!important;
  }